<div class="flip-card">
  <div [@flip]="currentCardState" [@rotateCard]="rotateCardState" class="flip-card-inner">
    <div class="flip-card-front">
      <ng-content select="[front]"></ng-content>
    </div>
    <div class="flip-card-back">
      <ng-content select="[back]"></ng-content>
    </div>
  </div>
</div>

