@import "colors.scss";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.flip-card {
  background-color: $transparent-color;
  width: 100%;
  height: 100%;
  //perspective: 1000px;
  //-webkit-perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transform: transform 1s;
  -ms-transform: transform 1s;
  transform: transform 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  background-color: $white-color;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flip-card-front {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}

.flip-card-back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
