@import "sizes.scss";

.main {
  height: 100%;
  width: 100%;
  display: block;
  padding: 50px 50px 0 50px;
  overflow-y: auto;
}

.content {
  padding-top: 70px;
  max-width: 850px;
  margin: 0 auto $content-margin-bottom auto;
}

.title {
  color: #005F8A;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.15px;
  line-height: 24px;
  margin: 17px 0;
  display: flex;
  align-items: center;

  .view-more {
    color: #94BBCE;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 17px;
    display: inline-block;
    margin-left: auto;
    padding-right: 20px;
    transition: all .2s;

    &:hover {
      cursor: pointer;
      color: #6498a8;
    }
  }
}

.courses-container {
  overflow: visible;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-height: calc(100% - 108px);
  margin-top: 15px;

  &:after {
    content: "";
    flex: auto;
  }

  &::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

  &__item {
    height: 278px;
    width: 200px;
    max-width: 267px;
    margin-bottom: 15px;
    margin-right: 12px;
  }
}

@media (max-width: 1400px) {
  .courses-container__item {
    height: 260px;
    width: 175px;
    max-width: 180px;
  }
}
