<div class="main">
  <app-basic-top-bar [title]="language" [subtitle]="'Explore courses'" [showBackButton]="true" (backButtonClicked)="backButtonClicked()"></app-basic-top-bar>

  <div class="content">
    <div class="slideshow">
      <app-slideshow [autoPlayInterval]="7000"></app-slideshow>
    </div>

    <div class="title">
      General courses

      <div class="view-more" *ngIf="courses && courses?.length > 4" (click)="showAllCourses = !showAllCourses">
        {{!showAllCourses ? ('Show all' | translate) : ('Hide more' | translate)}}
      </div>
    </div>
    <div class="courses-container" *ngIf="!loading">
      <div class="courses-container__item" *ngFor="let course of courses?.slice(0, 4)">
        <app-course [course]="course"
                    (containerClick)="course.isWooProduct ? openWooCourseDetail(course) : openCourseDetail(course)" [animatedTile]="true"
                    [buttonOnHover]="true"
                    [courseSize]="'sm'" [buttonTheme]="course.isWooProduct ? 'yellow' : 'green'"
                    [actionText]="course.isWooProduct ? 'buy' : 'start trial'"
                    [timeIcon]="false"
        ></app-course>
      </div>
      <ng-container *ngIf="showAllCourses">
        <div class="courses-container__item" *ngFor="let course of courses?.slice(4, courses?.length)">
          <app-course [course]="course"
                      (containerClick)="course.isWooProduct ? openWooCourseDetail(course) : openCourseDetail(course)"
                      [buttonOnHover]="true" [animatedTile]="true"
                      [courseSize]="'sm'" [buttonTheme]="course.isWooProduct ? 'yellow' : 'green'"
                      [actionText]="course.isWooProduct ? 'buy' : 'start trial'"
                      [timeIcon]="false"
          ></app-course>
        </div>
      </ng-container>
    </div>
  </div>

</div>
